* {
  font-family: Helvetica, Arial, sans-serif;
}

Body {
  margin: 0px;
}

/* Estiliza Scrollbar*/ 
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #202020;
  broder-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff40;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff80;
}

